p {
    font-size: 100%;
    font-family: "arial";
    color: rgb(15, 228, 199);
    text-align: center;
}
.about {
    font-size: 100%;
    font-family: "arial";
    color: rgb(15, 228, 199);
    text-align: center;
}


